<div class="sidebar">
  <div class="box">
    <div class="corner-bottom-left">
    <div class="corner-top-right">
    <div class="corner-top-left">
      <div class="indent">
        <div class="container2">
          <h2 class="title1"><span>Industries Served</span></h2>
          <div>
            <h3>Home Health</h3>
            <h3>Hospice</h3>
            <h3>Infusion</h3>
            <h3>Surgical Services</h3>
            <h3>Biotech</h3>
            <h3>Pharmaceutical</h3>
            <h3>Physician's Practice</h3>
            <h3>Health Insurance</h3>
            <h3>Hospital</h3>
            <h3>Consulting</h3>
            <h3>Medical Research</h3>
            <h3>Education</h3>
            <h3>Worker's Comp</h3>
            <h3>Fortune 1000</h3>
            <h3>Third Party Administrator</h3>
            <h3>Employee Health</h3>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

