<div class="indent">
  <div class="box2">
    <div class="tail-right">
    <div class="tail-left">
    <div class="tail-top">
    <div class="corner-bottom-right">
    <div class="corner-bottom-left">
    <div class="corner-top-right">
    <div class="corner-top-left">
      <div class="box-indent">
        <div class="container">
          <h2>Who are we?</h2>
          <img alt="" src="images/page1-img1.jpg" class="imgindent2" />
          American Nursing Services is a leader for the permanent placement of registered nurses and healthcare management professionals throughout the United States. Placements have included Clinical
          Directors, Managers and Supervisors, Pharmacists, Educators, Staff Nurses, and executive level professionals in the home health, hospice, biotech, health insurance, hospital, surgical and
          pharmaceutical industries. </br>
          <%= link_to "Read More", :controller => "about", :action => "index" %>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
  <div class="padding2">
    <div class="container">
      <div class="col-1 maxheight">
        <div class="box3 col-pad maxheight">
          <div class="tail-right maxheight">
          <div class="tail-left maxheight">
          <div class="tail-top maxheight">
          <div class="corner-bottom-right maxheight">
          <div class="corner-bottom-left maxheight">
          <div class="corner-top-right maxheight">
          <div class="corner-top-left maxheight">
            <div class="box-indent">
              <div class="container2">
                <h2 class="title2"><span>Employers</span></h2>
                <table cellspacing="0" cellpadding="0">
                  <tr><td valign="top"><img alt="" src="images/page1-img2.jpg" class="imgindent" /></td>
                    <td>
                      <div>If you're looking for a permanent solution that will be easy, economical, and able to solve your nursing and healthcare management shortage problems, American Nursing Services is it!</br></div>
                      <div><%= link_to "Get Started >>", {:controller => "employers", :action => "index"}, :class => "link" %></div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-2 maxheight">
        <div class="box3 maxheight">
          <div class="tail-right maxheight">
          <div class="tail-left maxheight">
          <div class="tail-top maxheight">
          <div class="corner-bottom-right maxheight">
          <div class="corner-bottom-left maxheight">
          <div class="corner-top-right maxheight">
          <div class="corner-top-left maxheight">
            <div class="box-indent">
              <div class="container2">
                <h2 class="title3"><span>Candidates</span></h2>
                
                <table cellspacing="0" cellpadding="0">
                  <tr><td valign="top"><img alt="" src="images/page1-img3.jpg" class="imgindent" style="float: left"/></td>
                    <td>
                      <div>Let us help you find the position you have been looking for. American Nursing Services has built a reputation for quality registered nurse and healthcare professional placement
                        services. We offer our candidates personal service, confidentiality, and the most ethical standards in the recruiting industry.</br></div>
                      <div><%= link_to "Open Jobs >>", {:controller => "jobs", :action => "index"}, :class => "link" %></div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="indent1">
    <h2>Testimonials</h2>
    "Thanks so much for sending us this outstanding candidate."
    <strong>Senior Vice President, Confidential</strong>

    <p>
    “We are loving the nurse you found for us. Thank you so much for all your help.”
    <strong>Director of Business Operations, Confidential</strong><br />

    <p>
    “Thanks very much. I can't thank you enough for everything. It had truly been my pleasure.”
    <strong>Clinical Manager, Confidential</strong><br />

    <p>
    "You will be happy to know that the Director of Operations you found for me has done very well.  The office passed their initial survey and is now open."
    <strong>Area Vice President of Operations, Confidential</strong><br />
  </div>
</div>
