<div class="indent">
  <div class="box2">
    <div class="tail-right">
    <div class="tail-left">
    <div class="tail-top">
    <div class="corner-bottom-right">
    <div class="corner-bottom-left">
    <div class="corner-top-right">
    <div class="corner-top-left">
      <div class="box-indent">
        <div class="container">
          <h2>Personalized partnership</h2>
          American Nursing Services has built a reputation for quality registered nurse and healthcare management placement services. We offer our candidates personal service, confidentiality, and the
          most ethical standards in the recruiting industry.  
          <p>
          We do more than merely match candidates to job openings. We work closely with each individual to determine the most appropriate career opportunity. We write resumes,
          supply interview preparation materials and coaching, and will negotiate for you the best possible salary and benefits package. We serve as your liaison to the employer throughout the entire
          interview process.  
        </div>
        <div style="padding-top: 15px;">
          <span><%= link_to "Current Jobs", :controller => "jobs", :action => "index" %></span>&nbsp;&nbsp;&nbsp;
          <span><%= link_to "Submit Resume", :controller => "contact", :action => "index" %></span>
          </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
