<div class="site-content">
  <div class="indent">
    <div class="box2">
      <div class="tail-right">
      <div class="tail-left">
      <div class="tail-top">
      <div class="corner-bottom-right">
      <div class="corner-bottom-left">
      <div class="corner-top-right">
      <div class="corner-top-left">
        <div class="box-indent">
          <div class="container">
            <table cellspacing="0" cellpadding="0">
              <tr><td valign="middle"><img alt="" src="images/page3-img1.jpg" class="imgindent2" /></td>
                <td><h2>Healthcare Recruiting Excellence</h2>
            For the past 10 years American Nursing Services has assisted some of the most successful and fast growing employers in the United States with the location and hiring of experienced
            registered nurses and healthcare management professionals. We help businesses save time and money by quickly identifying the best candidates for their available positions. From Fortune 100
            corporations to privately owned home health care providers, we can assist you with your healthcare staffing needs.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
    <div class="padding2">
      <div class="container">
        <div class="col-1 maxheight">
          <div class="box3 col-pad maxheight">
            <div class="tail-right maxheight">
            <div class="tail-left maxheight">
            <div class="tail-top maxheight">
            <div class="corner-bottom-right maxheight">
            <div class="corner-bottom-left maxheight">
            <div class="corner-top-right maxheight">
            <div class="corner-top-left maxheight">
              <div class="box-indent">
                <div class="container2">
                  <h2 class="title2" style="width: 255px"><span>6 Month Guarantee</span></h2>
                  <strong>We stand by our work.</strong>  All placements come with an unconditional six month free replacement guarantee to ensure that each and every placement results in a valuable, long-term addition
                  to your staff. Our guarantee, at least twice as long as almost any other recruiting company, demonstrates our commitment to recruiting excellence. 
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-2 maxheight">
          <div class="box3 maxheight">
            <div class="tail-right maxheight">
            <div class="tail-left maxheight">
            <div class="tail-top maxheight">
            <div class="corner-bottom-right maxheight">
            <div class="corner-bottom-left maxheight">
            <div class="corner-top-right maxheight">
            <div class="corner-top-left maxheight">
              <div class="box-indent">
                <div class="container2">
                  <h2 class="title3"><span>Professionalism</span></h2>
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top"><img alt="" src="images/page3-img2.jpg" class="imgindent" /></td>
                      <td>The secret to our success is that we never compromise on quality. Each and every candidate is carefully interviewed and screened by our experienced recruiting team to ensure that
                        only the most capable and motivated candidates are submitted for consideration.</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
