<div class="site-content">
  <div class="indent">
    <div class="box2">
      <div class="tail-right">
      <div class="tail-left">
      <div class="tail-top">
      <div class="corner-bottom-right">
      <div class="corner-bottom-left">
      <div class="corner-top-right">
      <div class="corner-top-left">
        <div class="box-indent">
          <div class="container">
          <h2>A few words about us</h2>
          American Nursing Services professional recruiters offer candidates and client organizations personal service, confidentiality, and the most ethical standards in the recruiting industry.
          <div class="padding3">
            <img alt="" src="images/page2-img1.jpg" class="imgindent2" />
            While our company has grown and increased its reach, we have maintained a commitment to high performance and unsurpassed industry knowledge. We understand the healthcare marketplace and
            have the experience to satisfy your staffing needs. <br />
          </div>
          <br>
          Our objective is to launch long-term, successful relationships between the individuals we place and our clients. The strength of our industry knowledge, coupled with our desire to
            provide premier customer service and personal attention, separates us from other professional search firms.
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
    <div class="padding2">
      <div class="box3 col-pad">
        <div class="tail-right">
        <div class="tail-left">
        <div class="tail-top">
        <div class="corner-bottom-right">
        <div class="corner-bottom-left">
        <div class="corner-top-right">
        <div class="corner-top-left">
          <div class="box-indent">
            <div class="container2">
              <h2 class="title2"><span>Who We Are</span></h2>
              <h3>Sam Dardick, President</h3>
              <br>
              Sam Dardick is the co-owner and President of American Nursing Services. He is a business professional with over 10 years of consulting experience at KPMG Peat Marwick, SBC and Ernst and Young. He has a Bachelor of Arts degree in Marketing from Columbia College in Chicago and a Master of Science degree in Marketing Communications from Illinois Institute of Technology.
              <br>
              <br>
              <h3>Fred Dardick, Vice President</h3>
              <br>
              Fred Dardick is the co-owner and Vice President of American Nursing Services. He is a biologist with over 5 years research experience at Northwestern University and The University of Chicago. He has a Bachelor of Science degree in Biology from Boston University and a Master of Science degree in the Biological Sciences from Stanford University.
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
