<div class="site-content">
  <div class="indent">
    <div class="box2">
      <div class="tail-right">
      <div class="tail-left">
      <div class="tail-top">
      <div class="corner-bottom-right">
      <div class="corner-bottom-left">
      <div class="corner-top-right">
      <div class="corner-top-left">
        <div class="box-indent">
          <div class="container">
            <h2><%= flash[:name] %>, there was a problem submitting your resume.</h2>

            <div>
            Please try again.  If the error continues, please contact us directly at <a href="mailto:fdardick@americannursingservices.com">fdardick@americannursingservices.com</a> or 773-871-3442.
          </div>

          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!--
Error: <%= flash[:error] %>
-->
